<footer id="colophon" role="contentinfo">
    <div class="site-info" style="text-align: center">
        Copyright&copy;&nbsp;{{ CURRENT_YEAR }}&nbsp;
        <a href="/" target="blank">{{ SITE_NAME }}</a>
        &nbsp;|&nbsp;
        <a href="/links.html" title="友情链接" rel="nofollow" target="_blank">
            友情链接
        </a>
        |&nbsp; Hosting On&nbsp;
        <a href="https://www.aliyun.com/minisite/goods?userCode=a08bhuv7" target="blank" rel="nofollow">阿里云</a>

        &nbsp;|&nbsp;
        <a href="https://github.com/fhydralisk" target="_blank"
           rel="nofollow">GitHub</a>
        {% comment %}{% include 'share_layout/analyticscode.html' %}{% endcomment %}

    </div>
    <div class="site-info" style="text-align: center">
        Powered by
        <a href="https://www.djangoproject.com/" rel="nofollow" target="blank">Django</a>
        &nbsp;|&nbsp;
        <a href="https://github.com/liangliangyy/DjangoBlog" rel="nofollow" target="blank">liangliangyy</a>
        |
        <a href="https://www.lylinux.net" target="blank">lylinux</a>
        |
        本页面加载耗时:<!!LOAD_TIMES!!>s
    </div>
    {% if BEIAN_CODE %}
        <div class="site-info" style="text-align: center">
            <a href="http://www.beian.miit.gov.cn/" rel="nofollow" target="_blank">
                <p style=" height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
                    {{ BEIAN_CODE }}
                </p>
            </a>
            {% if BEIAN_CODE_GONGAN and SHOW_GONGAN_CODE %}
                {{ BEIAN_CODE_GONGAN |safe }}
            {% endif %}
        </div>
    {% endif %}
</footer><!-- #colophon -->


